doctype html
head
    include style
    style.
        #newsubdomain {
            width: 100%;
            border: 0;
            border-collapse: collapse;
        }

body
    include banner.pug
    include login_info
    form(method='POST' name='mainform' action='/')
        div#maincontent
            - var subdomains = YSubdomain.GetSubdomainsFor(USER.username, USER.userpass)
            script.
                function formInput(name)
                {
                    return window.document.forms["mainform"][name];
                }
                function formSubmit()
                {
                    window.document.forms["mainform"].submit();
                    return false;
                }
            input(name='action' style='display:none')
            //- Available subdomain list
            script.
                function getAPIClientlable(subdom)
                {
                    if (!subdom.client)
                        return "<a href='" + subdom.remotelink + "' class='button' >connect</a>";
                    else
                        return subdom.client;
                }

                function redrawTable(subdomains)
                {
                    let table = document.getElementById('allsubdomains');
                    for (let i = 0; i < subdomains.length; i++) {
                        let subdom = subdomains[i];
                        let tr = document.getElementById(subdom.name);
                        if (tr) {
                            tr.cells[0].innerHTML = "<b>" + subdom.name + "</b";
                            tr.cells[1].innerHTML = subdom.netname;
                            tr.cells[2].innerHTML = getAPIClientlable(subdom);
                            tr.cells[3].innerHTML = "<a href='" + subdom.name + "' class='button' >open</a>";
                        } else {
                            let newRow = table.insertRow(-1);
                            let newChild = document.createElement('td');
                            newChild.innerHTML = "<b>" + subdom.name + "</b";
                            newRow.appendChild(newChild); // The first cell
                            let remote = document.createElement('td');
                            remote.innerHTML = subdom.netname;
                            newRow.appendChild(remote); // The second cell
                            let api = document.createElement('td');
                            api.innerHTML = getAPIClientlable(subdom, api);
                            newRow.appendChild(api);
                            let action = document.createElement('td');
                            action.innerHTML = "<a href='" + subdom.name + "' class='button' >open</a>";
                            newRow.appendChild(action);
                            newRow.id = subdom.name;
                        }
                    }
                }

                function refreshSubDomain()
                {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState === 4 && this.status === 200) {
                            redrawTable(JSON.parse(this.responseText));
                        }
                    };
                    xhttp.open("GET", "ajax.json", true);
                    xhttp.send();
                }
                window.SubdomainReloadTimeout = setInterval(refreshSubDomain, 5000);

            h2 Subdomains available for #{USER.username}
            if YSubdomain.IsAdmin(USER.username, USER.userpass)
                p(style='text-align:justify;')
                    | A subdomain is a jonction point between a YoctoHub or VirtualHub running a WebSocket callback,
                    | and a Web console or other Yoctopuce API application that requires interactive access to this hub.
            table.centerItem#allsubdomains(class='border')
                tr
                    th Subdomain
                    th Remote hub
                    th API client
                    th details
                each domname in subdomains
                    tr(id=domname)
                        - var subdom = YSubdomain.GetSubdomain(domname);
                        - var link = YSubdomain.GetRemoteLink(domname);
                        td <b>#{domname}</b>
                        td #{subdom.netname}
                        if !subdom.yapi
                            td (hub offline)
                        else if !subdom.client
                            td
                                a(href="" + subdom.getRemoteLink() class='button') connect
                        else
                            td subdom.client
                        td
                            a(href=domname + '/' class='button') open
            if YSubdomain.IsAdmin(USER.username, USER.userpass)
                script.
                    function prepAddSubdomain()
                    {
                        document.getElementById('addButton').style.display = 'none';
                        document.getElementById('addFields').style.display = '';
                        return false;
                    }
                    function cancelAdd()
                    {
                        document.getElementById('addButton').style.display = '';
                        document.getElementById('addFields').style.display = 'none';
                        return false;
                    }
                    function addSubdomain()
                    {
                        formInput('action').value = '+' + document.getElementById('addname').value + '|' + document.getElementById('addpass').value
                        formSubmit();
                        return false;
                    }


                br
                span.centerItem(style='display:inline-block;')
                    table(style='width:600px;text-align:left;border:0;')
                        tr
                            td(colspan=2 style='border:0;text-align:right;padding-top:10px;')
                                a#addButton(href='#' class='button' onclick="prepAddSubdomain();") add subdomain
                        tr#addFields(style='display:none;')
                            td(style='border:0; vertical-align:top; padding-top: 8px;')
                                b New subdomain:
                            td(colspan=3)
                                table#newsubdomain(style='width:100%;border:0;border-collapse:collapse;')
                                    tr
                                        td Subdomain name:
                                        td
                                            input(id='addname' size=30)
                                    tr
                                        td Hub secret key:
                                        td
                                            input(id='addpass' size=30 type='password')
                                    tr
                                        td &nbsp;
                                        td
                                            span.button_inline
                                                a(href='#' onclick="addSubdomain();" class="button") Add
                                                a(href="#" onclick="cancelAdd();" class="button") Cancel
            include footer
