doctype html
head
    style.
        body {
            font-family: sans-serif;
            text-align: justify;
            max-width: 1024px;
            font-size: small;
            margin: 32px auto 32px;
            text-align: center;
        }

        #container {
            display:inline-block;
            width:300px;
            height:20px;
        }


body
    p Loading web interface...
        br
        span#container(style='display:inline-block;width:300px;height:20px')
    script
        | Server = '#{Server}';
        | webapp_size = #{YSubdomain.WebAppSize};
    script.
        function connectToSubdomain(name)
        {
            let huburl = 'wss://#{USER.username}:#{USER.userpass}@' + Server + '/' + name + '/';
            window.document.getElementById('container').innerHTML = "<div style='top:3px;left:5px;width:300px;height:12px;overflow:hidden;border:1px solid gray;border-radius:3px;background:#eee;'>" + "<div id='progress' style='left:0;top:0;width:0;height:16px;border:0 solid #000;overflow:hidden;background:#444;'>" + "</div></div>";
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/' + name + '/webapp.html', true, '', '');
            xhr.onreadystatechange = function () {
                if (xhr.readyState >= 3) {
                    if (xhr.readyState === 4 && xhr.status !== 200 && xhr.status !== 304) {
                        console.log('Load error...');
                    } else {
                        var len = xhr.responseText.length;
                        window.document.getElementById('progress').style.width = parseInt(300 * len / webapp_size) + 'px';
                        if (xhr.readyState === 4) {
                            let patched = xhr.responseText.replace('parseQuery(window.location.search, "main.html")', '{ "url":"main.html","hub":"' + huburl + '" }');
                            window.document.open();
                            window.document.write(patched);
                            window.document.close();
                            //window.location.assign('webapp.html');
                        }
                    }
                }
            };
            setTimeout(function () {
                xhr.send('');
            }, 300);
        }
        connectToSubdomain("#{subdom.name}");

