doctype html
head
    title #{subdom.name} Gateway Hub
head
    include style
body
    include banner.pug
    include login_info.pug
    form(method='POST' name='loginForm' style='display:none;')
        input(name='action')
        input(name='idx')

    div#maincontent
        script.
            function wdg(id)
            {
                return document.getElementById(id);
            }
            function formInput(name)
            {
                return window.document.forms["loginForm"][name];
            }
            function formSubmit(action)
            {
                if (action) window.document.forms["loginForm"].action = action;
                window.document.forms["loginForm"].submit();
                return false;
            }
            function removeUserFromSubdomain(username)
            {
                formInput('action').value = '-' + username;
                formSubmit();
            }
            function confirmDelete ()
            {
                var deleteButton = document.getElementById("deleteButton");
                var deleteConfirm = document.getElementById("deleteConfirm");
                deleteButton.disabled = !(deleteConfirm.value === "#{subdom.name}");
            }


            function deleteSubdomain()
            {
                if(deleteConfirm.value === "#{subdom.name}") {
                    formInput('action').value = '-#{subdom.name}';
                    formSubmit('/');
                }
            }

            function viewSubdomainCallbackPwd()
            {
                if (wdg('cbpass').type === 'password') {
                    wdg('cbpass').type = 'text';
                }
                wdg('cbpassBtnView').style.display = 'none';
                wdg('cbpassBtnCancel').style.display = '';
                wdg('cbpassBtnSave').style.display = '';
            }
            function cancelSubdomainCallbackPwd()
            {
                if (wdg('cbpass').type !== 'password') {
                    wdg('cbpass').type = 'password';
                }
                wdg('cbpassBtnView').style.display = '';
                wdg('cbpassBtnCancel').style.display = 'none';
                wdg('cbpassBtnSave').style.display = 'none';
            }

            function saveSubdomainCallbackPwd()
            {
                formInput('action').value = '#' + wdg('cbpass').value;
                formSubmit();
            }

            function showCbPwd()
            {
                if (wdg('cbcredential').type === 'password') {
                    wdg('cbcredentialBtn').innerHTML = 'hide';
                    wdg('cbcredential').type = 'text';
                } else {
                    wdg('cbcredentialBtn').innerHTML = 'show';
                    wdg('cbcredential').type = 'password';
                }
                return false;
            }

            function prepAddUserToSubdomain()
            {
                wdg('prepAdd').style.display = 'none';
                wdg('addFields').style.display = '';
            }
            function cancelAddUserToSubdomain()
            {
                formInput('action').value = '';
                wdg('prepAdd').style.display = '';
                wdg('addFields').style.display = 'none';
            }
            function addUserToSubdomain()
            {
                formInput('action').value = '+' + wdg('adduser').value + '|' + wdg('addpass').value + '|' + (wdg('addadmin').checked ? '1' : '0');
                formSubmit();
            }
            function editOutgoingCallback(idx)
            {
                formInput('action').value = '';
                formInput('idx').value = idx;
                formSubmit('editcb.html');
            }
            function addOutgoingCallback()
            {
                formInput('action').value = '';
                formInput('idx').value = -1;
                window.document.forms["loginForm"].action = '/#{subdom.name}/editcb.html';
                window.document.forms["loginForm"].submit();
            }

        h2 #{subdom.name} subdomain
        // div(style="height:40px")
        div.section
            h3 Connected hub
            table.settingsTable
                tr
                    td.settingsName
                        | Hub network name:
                    td.settingsValue #{subdom.netname}
                tr
                    td.settingsName
                        | Hub status:
                    if !subdom.yapi
                        td.settingsValue (hub offline)
                    else if !subdom.client
                        td.settingsValue
                            | online &nbsp;
                            a(href="" + subdom.getRemoteLink() class='button') connect
                    else
                        td connected to #{subdom.client}
                tr
                    td.settingsName
                        | Devices:
                    td.settingsValue
                        table#subdevices(class='border')
                            tr
                                th Serial #
                                th Product name
                                th Logical name
                            each dev in subdom.devs
                                tr
                                    td #{dev.serialNumber}
                                    td #{dev.productName}
                                    td #{dev.logicalName}
        if subdom.isAuthorized(USER.username, USER.userpass) > 1
            div.section
                h3 Connections information
                table.settingsTable
                    tr
                        td.settingsName
                            | Hub callback password:
                        td
                            input#cbpass(type='password' size=30 value=subdom.pass)
                            span.button_inline
                                button#cbpassBtnView(onclick="viewSubdomainCallbackPwd();" class="button") View/Edit
                                button#cbpassBtnSave(onclick="saveSubdomainCallbackPwd();" class="button" style='display:none;') Save
                                button#cbpassBtnCancel(onclick="cancelSubdomainCallbackPwd();" class="button" style='display:none;') Cancel
                    tr
                        td.settingsName Authorized API users:<br>
                        td.settingsValue
                            table#subdevices(class='border')
                                tr
                                    th Username
                                    th Admin
                                    th Action
                                each user in subdom.auth
                                    tr
                                        td #{user.user}
                                        td.centerCell #{user.admin ? 'admin' : 'user'}
                                        if user.user !== USER.username
                                            td.centerCell
                                                button(onclick="removeUserFromSubdomain('" + user.user + "');" class="button") remove
                                        else
                                            td
                    tr
                        td.settingsName
                        td.settingsValue
                            button#prepAdd(onclick="prepAddUserToSubdomain();" class="button") Add user
                    tr#addFields(style='display:none;')
                        td
                        td
                            table.compactTable
                                tr
                                    td Username:
                                    td
                                        input(id='adduser')
                                tr
                                    td Password:
                                    td
                                        input(id='addpass' type='password')
                                tr
                                    td Admin:
                                    td
                                        input#addadmin(type='checkbox')
                                tr
                                    td
                                    td
                                        span.button_inline
                                            button(onclick="addUserToSubdomain();" class="button") Add
                                            button(onclick="cancelAddUserToSubdomain();" class="button") Cancel

            div.section
                h3 Hub Callback parameters
                table.settingsTable
                    tr
                        td.settingsName callbackUrl:
                        td.settingsValue ws://#{WS_Server.hostname}:#{WS_Server.wsport}/#{subdom.name}/callback
                    tr
                        td.settingsName callbackMethod:
                        td.settingsValue GET
                    tr
                        td.settingsName callbackEncoding:
                        td.settingsValue YOCTO_API
                    tr
                        td.settingsName callbackCredentials:
                        td.settingsValue
                            input#cbcredential(type='password' size=30 value='ws:' + subdom.pass)
                            button#cbcredentialBtn(onclick="showCbPwd();" class="button") show
            div.section
                h3 API parameters
                table.settingsTable
                    tr
                        td.settingsName WebSocket:
                        td.settingsValue ws://user:pass@#{WS_Server.hostname}:#{WS_Server.wsport}/#{subdom.name}
                    tr
                        td.settingsName Secure WebSocket (JS + Java):
                        td.settingsValue wss://user:pass@#{WS_Server.hostname}:#{WS_Server.wssport}/#{subdom.name}

            div.section
                h3 Outgoing callbacks
                table.settingsTable
                    each cbdata,idx in subdom.cback
                        tr
                            td.settingsName Callback #{idx}:
                            td.settingsValue
                                table
                                    tr
                                        td #{cbdata.Method}
                                        td #{cbdata.Encoding}
                                        td(style='text-align:right;')
                                            button(onclick="editOutgoingCallback(" + idx + ");" class="button") Edit
                                    tr
                                        td(colspan=3) #{cbdata.Url}
                                    tr
                                        td(colspan=2) #{cbdata.imm_describeSchedule()}
                                        td #{cbdata.Schedule.paused ? '(paused)' : ''}
                    tr
                        td.settingsName
                            button(onclick="addOutgoingCallback();" class="button") Add outgoing callback
                        td.settingsValue
        div.section
            h3 Incoming websocket callback logs
            textarea(rows=10 readonly)
                each line in subdom.hublog
                    | #{line + '\n'}
        div.section
            h3 Incoming API connection logs:
            textarea(rows=10 readonly)
                    each line in subdom.apilog
                        | #{line + '\n'}
        div.section
            h3 Outgoing callback logs:
            textarea(rows=10 readonly)
                    each line in subdom.outlog
                        | #{line + '\n'}
        if subdom.isAuthorized(USER.username, USER.userpass) > 1
            div.section
                h3.dangerous Delete this subdomain :
                p.centerItem.centerCell
                    |Please type in the name of the subdomain to enable delete button: &nbsp;
                    input#deleteConfirm(onchange="confirmDelete();")
                    button#deleteButton.dangerousButton(onclick="deleteSubdomain();" disabled) Delete this subdomain
        include footer
